@page "/article"
@rendermode InteractiveServer

@using ArticleDashboard.Models

<PageTitle>Article</PageTitle>

<h1>Article</h1>
<h2>@article.Title</h2>

<p>@article.Content</p>

@code {
    Models.Article article = new Models.Article
    {
        Title = "Article 1",
        Content = "This is the first article."
    };


    


}
